<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SSHMountFS</string>
    <key>CFBundleDisplayName</key>
    <string>sshfs</string>
    <key>CFBundleIdentifier</key>
    <string>com.sshmount.app.fs</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleExecutable</key>
    <string>SSHMountFS</string>
    <key>EXAppExtensionAttributes</key>
    <dict>
        <key>EXExtensionPointIdentifier</key>
        <string>com.apple.fskit.fsmodule</string>
        <key>EXExtensionPrincipalClass</key>
        <string>SSHMountFS.SSHMountExtension</string>
        <key>FSShortName</key>
        <string>sshfs</string>
        <key>FSSupportedSchemes</key>
        <array>
            <string>ssh</string>
            <string>sftp</string>
        </array>
        <key>FSSupportsBlockResources</key>
        <false/>
        <key>FSSupportsGenericURLResources</key>
        <true/>
        <key>FSSupportsPathURLs</key>
        <false/>
        <key>FSRequiresSecurityScopedPathURLResources</key>
        <false/>
        <key>FSActivateOptionSyntax</key>
        <dict>
            <key>shortOptions</key>
            <string>o:</string>
        </dict>
        <key>FSCheckOptionSyntax</key>
        <dict>
            <key>shortOptions</key>
            <string>nqy</string>
        </dict>
        <key>FSFormatOptionSyntax</key>
        <dict>
            <key>shortOptions</key>
            <string>v</string>
        </dict>
        <key>FSMediaTypes</key>
        <dict/>
        <key>FSPersonalities</key>
        <dict>
            <key>SSHMountPersonality</key>
            <dict>
                <key>FSName</key>
                <string>sshfs</string>
            </dict>
        </dict>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
</dict>
</plist>
